:root {
    --green: #3e9e44;
    --blue: #0069d0;
    --black: #303030;
    --red: #c0462d;
    --orange: #D89227;
    --white: #fafafa;
    --shadow: 0px 0px 5px #0000001a;
}

* {
    /*border: 2px solid red;*/
    font-family: Arial, Helvetica, sans-serif;
}

/*1*/
body {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/background.jpg);
    background-size: cover;

    >.gameLogo {
        position: fixed;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*1.1*/
    >.startSection {
        position: absolute;

        /*1.1.1*/
        >.nextButton {
            position: fixed;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--white);
            border-radius: 50px;
            font-size: 1.6rem;
            font-weight: 600;
            padding: 1.4em 1em;

            /*1.1.1.1*/
            &:hover {
                cursor: pointer;
                background-color: var(--green);
                color: var(--white);
            }
        }
    }

    /*1.2*/
    >.gameSection {
        height: 95svh;

        /*1.2.1*/
        >.panelSection {
            display: inline-flex;
            background-color: var(--white);
            margin: 1em 1em 0em 1em;
            border-radius: 20px;
            width: 35em;
            height: 4em;
            justify-content: center;

            /*1.2.1.1*/
            >.numberBox {
                margin: 0.2em 3em 0em 3em;
                width: 4em;
                height: 4em;

                /*1.2.1.1.1*/
                >.topNumbers {
                    position: relative;
                    font-size: 2rem;
                    font-weight: 600;
                }

                >.sideNumbers {
                    padding-top: 0.3em;
                }

                /*1.2.1.1.2*/
                >.timer {
                    font-size: 3rem;
                }
            }
        }

        /*1.2.2*/
        >.gameSection-image {
            margin: 2em;

            /*1.2.2.1*/
            >img {
                height: 22em;
                width: 22em;
            }
        }

        /*1.2.3*/
        >.guessTheCountry {
            font-size: 2rem;
        }

        /*1.2.4*/
        >.gameSection-buttons {
            height: 40svh;
            display: inline-flex;
            justify-content: space-evenly;
            align-items: center;
            flex-flow: column wrap;
            width: 30em;

            /*1.2.4.1*/
            >.button {
                background-color: var(--white);
                width: 80%;
                padding: 1em 0 1em 0;
                border-radius: 20px;

                /*1.2.4.1.1*/
                &:hover {
                    cursor: pointer;
                    background-color: var(--blue);
                    color: var(--white);
                }
            }

            >.greenButton {
                background-color: var(--green);
                color: var(--white);
            }

            >.redButton {
                background-color: var(--red);
                color: var(--white);
            }
        }
    }

    >.finalSection {
        position: absolute;
        height: 98.5svh;
        width: 98.5svw;
        text-align: center;

        >.finalText {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3rem;
        }
    }
}

.glassScreen {
    background-color: #00000000;
    height: 98.5svh;
    width: 98.5svw;
}